@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
}


body {
    border-color: steelblue;
    border-style: solid;
    width: 500px;
    height: 708px;
    margin: auto;
    margin-top: 20px;

    background-image: url("pencils.jpg");

    box-shadow: rgba(0, 0, 0, 0.550) 0px 3px 8px;
}

h1 {
    text-align: center;
}

input {
    text-align: right;
    font-size: xx-large;
}



/* Class Rules */
.calculator {
    margin: auto;
    background-color: #6f8d8b;
}

.display {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.digit-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.digits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 350px;
}

.digits button {
    width: 100px;
    height: 100px;
    font-size: xx-large;

    background-color: lightgrey;
    color: rgb(34, 34, 34);
}

#clear {
    background-color: #f44336;
}

#calculate {
    background-color: #4CAF50;
}


.operators {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 50px;
    height: 20px;
}

.operators button {
    width: 60px;
    height: 50px;
    font-size: xx-large;
    margin-top: 20px;

    background-color: orange;
}


.footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}